
<%- include ("../partials/header") %>

<div class="container mt-5">
    <div class="container jumbotron">
        <h1>Sign Up!!!</h1>
    </div>
    <form action="/register" method="POST">
        <input class="form-control" type="text" name="username" placeholder="Email">
        <input class="form-control mt-1" type="password" name="password" placeholder="password">
        <button class="btn btn-sm btn-success mt-3">Submit</button>
    </form>
<a href="/campgrounds" class="btn btn-sm btn-info">Go back</a>
    <%- include("../partials/footer") %>
</div>
